<?xml version="1.0" encoding="utf-8" ?>

<connectionStrings>
  <add name="DD_StudentPortal_ConnectionString"
       connectionString = 
       "Server  = MICROWARE\UTTAMRAWAT; 
       Database = ICON
       User Id = sa;
       password = adgjm;"
      providerName="System.Data.SqlClient" />
</connectionStrings>


