<?xml version="1.0" encoding="utf-8" ?>
<!-- 
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
    <appSettings>

    </appSettings>

    <connectionStrings>
      <add name="DD_StudentPortal_ConnectionString" connectionString="Database=DDStudentPortal;Server=VERSONIC-MAC\SQLEXPRESS;User Id=dd_user; Password=123456;"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
